/*.chest{
	
	opacity: .9px;
	box-shadow: 10px,10px,10px,10px
}
*/

/*#id{
	x:400;

	 y="-200" height="1400" width="1400"
}*/
/*<svg xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">

    <style type="text/css" >
      <![CDATA[

        circle.myGreen {
           stroke: #006600;
           fill:   #00cc00;
        }
       #abs {
       stroke: #660000;
       fill:   #cc0000;
       x: 300;
       y: -200;
       height: 500px;
       width: 500px;
    }

      ]]>
    </style>

*/
/*</svg>*/