

<form action='/orders/drinks' method='post' class="form-horizontal">

<input class="span12" type="text" name='firstname' placeholder="login" autofocus>

<input class="span12" type="text" name='lastname' placeholder="Lastname">
</form>
