<input class="timer_input" type="number"><button class="timer_button">Time It!</button>
  <div class="rest_timer">
<div>
  <span class="minutes"></span>0<span class="minute">0</span><span class="colon">:</span><span class="seconds">0</span><span class="second">0</span>
</div>

  </div>
