<!--   <div class="rest_timer">
<div>
  <span class="minutes"></span>0<span class="minute">0</span><span class="colon">:</span><span class="seconds">0</span><span class="second">0</span>
</div>

  </div> -->
<input type="checkbox" id="toggler" class="modal-toggler">

<section class="exercise-container">
  <label for="toggler" class="modal  close-modal-area"></label>
  <div class="modal  modal-box">
    <h1>  <span class="minutes"></span>0<span class="minute">0</span><span class="colon">:</span><span class="seconds">0</span><span class="second">0</span></h1>
    <label for="toggler" class="toggle-modal-button">Workout!</label>
  </div>
</section>
<section class="content">
  <div class="modal">

  <input class="timer_input" type="number"><button class="timer_button">Time It!</button><label for="toggler" class="toggle-modal-button">Rest!</label>
<p>w</p>
   <!--  <p>Bacon ipsum dolor sit amet short loin pork loin corned beef, swine ground round chuck ham strip steak kielbasa biltong tongue filet mignon. Strip steak meatball chicken shank leberkas kielbasa. Short ribs pork loin short loin strip steak rump ground round drumstick kielbasa pastrami hamburger pig capicola jerky. Andouille short ribs turducken jerky boudin spare ribs ham pork loin leberkas ribeye.</p> -->

  </div>
</section>
