/*
 *= require 'normalize'
 *= require 'default'
 *= require_self
 *= require_tree .
*/


@import url(http://fonts.googleapis.com/css?family=Poiret+One);

h1,p,h2,h3,h4,h5,h6, a,table, td, th, tr, button, nav, input, span,label,form, modal, goals  { font-family: 'Poiret One', cursive; font-weight: 500;  color: black;}

nav{
  background-color: rgba(255,255,255,.4);
  margin-bottom: 2em;
/*  box-shadow: 5px 5px 5px #888888;
*/}
nav .navButton{
	width: 20px;
}