.newExerciseFormPage {
  .workoutNameHeader {
  font-size: 70px;
  }

  .newExerciseForm {
    width: 400px;
    margin: auto;

    form {
      text-align: center;
    }

    .formInput {
      width: 345px;
      text-align: center;
    }
  }
}
.background4 {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: url("gym2_copy.jpg") no-repeat center center fixed;
  background-size: cover;
}

.wrapper{
  padding: 10px;
  width: 350px;
  margin: 0 auto;
  height: 620px;
  background-color: rgba(255,255,255, .7);
}