
.exercise_performance{
  z-index: 20;
}

#abs{
  position: absolute;
  top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;

}

#chest{
  position: absolute;
  top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}
#leftBisep{
  position: absolute;
  top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}
#rightBisep{
  position: absolute;
   top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}
#shoulders{
  position: absolute;
  top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}
#thighs{
  position: absolute;
  top: -20px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}

#back{
  position: absolute;
  top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}
#calves{
  position: absolute;
  top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}

#glutes{
  position: relative;
  top: -20px;
  left: -455px;
  height:39%;
  opacity: .1;
  width: 90%;
}

#triceps{
  position: absolute;
  top: -10px;
  left: -365px;
  height:39%;
  opacity: .3;
  width: 90%;
}

#body {
  position: absolute;
  left: 400px;
  top: 100px;
  height: 1000px;
  width: 1000px;
  background: url("human-muscle-anatomy.jpg");
  background-repeat: no-repeat;
  background-size: 55%;
}

.svg-container {
  position: absolute;
  left: 400px;
  top: 100px;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  height: 1500px;
  width: 1500px;
  overflow: hidden;
}

