
$color-primary-0: #7A9AAA; /* Main Primary color */
$color-primary-1: #DCE6EB;
$color-primary-2: #ADC3CE;
$color-primary-3: #527A8E;
$color-primary-4: #2F5C72;

/* As RGBa codes */

$rgba-primary-0: rgba(122,154,170,1);  /* Main Prima */
$rgba-primary-1: rgba(220,230,235,1);
$rgba-primary-2: rgba(173,195,206,1);
$rgba-primary-3: rgba( 82,122,142,1);
$rgba-primary-4: rgba( 47, 92,114,1);
$overlay: rgba( 0, 0,0,0.2);

h1 {
  margin: 0.5em 0;
  font-size: 200%;
  color:$color-primary-3;
}

.overlay{
  background-color: $overlay;
  height: 57.2em;
  width: 100%;
}

.box{
  width: 40em;
  height: 25em;
  position: relative;
  top: 10em;
  left: 10em;
  background-color: $overlay;
  box-shadow: 0px 0px 1px 1px;
}
.form{
  margin-left: 10em;
  margin-top: 10em;
  width: 20em;
  border: 1px solid black;
}

.form input{
  margin-bottom: 1em;
  clear:right;
}
.form label{
  display: inline-block;
  width: 20em;
  vertical-align: top;
  text-align: left;
  margin-left: 1em;
  font-weight: bold;
}

.form input {
  display: inline-block;
  width: 10em;
  vertical-align: top;
  text-align: left;
  margin-left: 1em;
  font-weight: bold;
}

