
$color-primary-0: #7A9AAA; /* Main Primary color */
$color-primary-1: #DCE6EB;
$color-primary-2: #ADC3CE;
$color-primary-3: #527A8E;
$color-primary-4: #2F5C72;

/* As RGBa codes */

$rgba-primary-0: rgba(122,154,170,1);  /* Main Prima */
$rgba-primary-1: rgba(220,230,235,1);
$rgba-primary-2: rgba(173,195,206,1);
$rgba-primary-3: rgba( 82,122,142,1);
$rgba-primary-4: rgba( 47, 92,114,1);
$overlay: rgba( 0, 0,0,0.2);


nav {
  height: 145px;
  width: 100%;
  background-color: #A0A0A3;

  #logo {
    font-size: 105px;
    font-family: initial;
    float: left;
    padding-left: 35px;
  }

  #logo a {
    text-decoration: none;
    color: black;
  }

  #navBarButtons {
    float: right;
    padding-right: 45px;
    padding-top: 8px;
  };

  .navButton {
    height: 45px;
    width: 120px;
    font-size: 1.2em;
    margin-top: 7px;
  }
}

.exercise_form_div{
  width: 70em;
}

.exercise_form_new{

}

.exercise_form_div ul li{
  list-style-type: none;
  display: inline-block;
}

#name{
  width: 10em;
}

#exercise_input{
  width: 5em;
}




