.rest_timer {
font-size: 2.25em;
position: relative;
float: right;
}

.rest_timer {
  font-size: 2.25em;
  position: relative;
  float: right;
  margin: 20px;
}

.done-ex-input {
  display: none;
}

.timer_holder {
  display: none;
}

.work_holder {
  display: inline-block;
}

.set_show {
  display: none;
  margin-top: 130px;
  margin-bottom: 20px;
}

h1 {
  line-height: 1em;
}

p {
  margin: 0;
  line-height: 2em;
}

.modal-toggler {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10em;
  border-radius: .5em;
  transform: translate3d(-50%, -50%, 0);
}

.modal.close-modal-area {
  width: 100%;
  height: 100%;
}

.modal.modal-box {
  background: #0fa2db;
  text-align: center;
}

.content .modal {
  width: 100%;
  max-width: 40em;
}

.exercise-container,
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.exercise-container {
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  color: white;
  visibility: hidden;
  transition: opacity 1s, visibility 0s linear 1s;
  z-index: 2;
}
.modal-toggler:checked + .exercise-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.toggle-modal-button {
  background-color: transparent;
  color: white;
  display: inline-block;
  padding: 1em;
  cursor: pointer;
  width: 390px;
  border-radius: .5em;
  box-shadow: inset 0 0 1px black;
  transition: background-color .2s, color .2s, transform .1s linear;
}

.toggle-modal-button:hover, .toggle-modal-button:focus, .toggle-modal-button:active {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: none;
  transition: background-color .2s, color .2s, box-shadow .2s, transform .1s linear;
}

.toggle-modal-button:active {
  transform: scale(1.2);
}

.content .toggle-modal-button {
  color: rgba(0, 0, 0, 0.75);
  margin-top: 8em;
}

.content {
  margin-top: 30px;
  color: peru;
}
.goals{
  background-color: rgba(192,192,192,.2);
    box-shadow: 5px 5px 5px #888888;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
}

