// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcomeIndex {
  text-align: center;
  margin-top: 55px;

  .welcomeLogo {
   font-size: 75px;
   font-family: -webkit-pictograph;
   };

  .optionsBox {
    width: 750px;
    margin: auto;

    .welcomeButtons {
     display: inline;
    }
  }
}

.logInMessage {
  margin-bottom: 50px;
  margin-top: 75px;
}

.authenicate_button {
  width: 20em;
  font-size: 4em;
  margin: auto;
  text-decoration: none;

}

a {
  color: black;
}

 a:hover {
   color: rgb(179, 175, 175)
}

.welcomeIndex{
  margin-top: 10em;
}

