#new_user{
  width:300px;
  margin: 0 auto;
  background-color: rgba(192,192,192,.4);
  padding: 10px;
}

.welcomeIndex {
  color: white;
  text-align: center;
  /*margin-top: 55px;*/
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
}
.welcomeIndex .welcomeLogo {
  color: white;
  font-size: 75px;
  /*font-family: -webkit-pictograph;*/
}
.welcomeIndex .optionsBox {
  width: 750px;
  margin: auto;
}
.welcomeIndex .optionsBox .welcomeButtons {
  display: inline;
}

.logInMessage {
  margin-bottom: 50px;
  margin-top: 75px;
}

.authenicate_button {
  width: 20em;
  font-size: 4em;
  margin: auto;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

h3{
  font-size: 40px;
}

h2{
  font-size: 70px;
}

ul li{
  text-decoration: none;
  list-style-type: none;
  font-size: 30px;
}

a:hover {
  color: #b3afaf;
  text-decoration: none;
}

.welcomeIndex {
  margin-top: 10em;
}

#links a, #links h3{
  color: white;
}

#links a:hover{
  color: #b3afaf;
}


