// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcomeIndex {
  text-align: center;
  margin-top: 55px;

  .welcomeLogo {
   font-size: 75px;
   font-family: -webkit-pictograph;
   };

  .optionsBox {
    width: 650px;
    margin: auto;

    .welcomeButtons {
     display: inline-flex;
    }
  }
}


#signup-modal, {
}

.modal{
  /* arbitrary styling */
  background-color: rgba(0,0,0,0.8);
  border-radius: 2px;
  box-shadow: 0px 0px 70px rgba(0, 65, 0, 0.6);
  height:600px;
  width:600px;
  padding: 10px;
  color: white;
  z-index: 2000;
  /* change position to fixed if you want to prevent the dialog from scrolling away, and center it */
  position:fixed;
  top:15%;
  left:30%;
  margin-left: -50px;
  margin-top:-50px;
}

.modal-transparent-background{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);

}
.welcomeIndex{
  margin-top: 10em;
}

