.workoutsIndex {
  text-align: left;
  padding-left: 35px;

  .left {
    float: left;
    text-align: center;
    width: 440px;
  };

  .center {
    float: right;
    text-align: center;
    margin-right: 136px;
    width: 415px;
  };

  .centerHeader {
    margin-bottom: 63px;
  }


  .newWorkout {
  font-size: 20px;
  text-decoration: none;
  };

  .workoutTitle {
    text-transform: uppercase;
  };

  .yourWorkouts {
    margin-bottom: 20px;
    border: 1px solid black;
    width: 440px;
    font-size:22px;
    background-color: rgba(192,192,192,.2);
    box-shadow: 5px 5px 5px #888888;
  };

  .workoutHistoryTable {
    width: 415px;
    font-size:25px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: rgba(192,192,192,.1);
    box-shadow: 5px 5px 5px #888888;
  }
.yourWorkouts a, .workoutHistoryTable a{
  color: black;
}

.yourWorkouts a:hover, .workoutHistoryTable a:hover{
  color:#b3afaf;
}
  th {
    font-size: 25px;
  };

  td {
    border: 1px solid black;
    height: 40px;
    color: black;
  };
}

.workoutShow {
  overflow: scroll;
  color: black;

  h1 {
    font-size: 50px;
  }

  table {
    margin-bottom: 20px;
    border: 1px solid black;
    width: 200px;
    background-color: rgba(192,192,192,.2);
    box-shadow: 5px 5px 5px #888888;
    font-size: 22px;
    display: inline-table;
    margin-left: 10px;

    tr {
      border: 1px solid black;
    }

    td {
      border: 1px solid black;
      color: black;
    }
    colspan{
      font-size: 25;
      text-decoration: none;
    }
    a {
      text-decoration: none;
      color:black;
    }
  }
}
