

<div class="svg-container">
</div>

<div id="num_sets" style="display:none">
  <%= @exercise_history.sets %>
 </div>

EXERCISE HISTORY

<% current_user.exercises.each do |exercise| %>
  <% exercise.exercise_histories.each do |p| %>
    <%= p.reps %>
  <% end %>
<% end %>

