<div class="num_sets" data-sets = <%= @exercise_history.sets %> >
</div>

<div class="svg-container">
  <%= @exercise_history.sets %>
  <!-- <%= image_tag 'abs.svg'%> -->
</div>
<div id="heatmap" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


 <!-- style="display:none" -->
