<%= form_for @exercise, :url => { :action => "create" }  do |f|  %>
    <%= f.text_field  :workout_type %>
    <%= f.text_field  :name %>
    <%= f.submit "Add todo", class: "btn btn-primary" %>
 <%end%>
<br>
<br>
<form action="/exercises" method="post">
  <label for="name">Workout Name</label>
  <input type="text" placeholder="12" name="exercises[name]"/>


  <label for="workout">Workout Type</label>
  <input type="text" id="workout" list="workouts" placeholder="cardio" name="exercises[workout]" >

  <datalist id="workouts">
    <option value="weights" />
    <option value="long distance running" />
    <option value="sprints" />
  </datalist>

  <label for="reps">repetitions</label>
  <input type="number" id="qty" min="0" max="100" step="1" placeholder="12" name="exercises[reps]" />

  <label for="rest_time">Rest Time (seconds)</label>
  <input type="number" id="qty" min="0" max="500" step="1" placeholder="30 seconds" name="exercises[rest_time]"/>

  <label for="tempo">Tempo(seconds)</label>
  <input type="number" id="qty" min="0" max="1000" step="1" placeholder="5030" name="exercises[tempo]"/>

  <label for="distance">Distance (miles)</label>
  <input type="number" id="qty" min="0" max="100" step="1"placeholder="3 miles"  name="exercises[distance]"/>

  <label for="running_time">running time (minutes)</label>
  <input type="number" id="qty" min="0" max="100" step="1" placeholder="20 minutes" name="exercises[running_time"/>
  <input type="submit" value="submit">
</form>
