
<%= render 'shared/search' %>
<% @exercises.each do |exercise| %>
<div class="search_container">
	<table class="search_table">
		<tr class="search_row"><%= exercise.name %></tr>
	</table>
</div>
<% end %>